.app.dark {
    --bg-color: #131416e7;
    --inverted-bg-color: #f1f5fc;
    --primary-color: #FFF;
    --secondary-color: #ffffffa2;
    --inverted-primary-color: #275cf0;
    --inverted-secondary-color: #464040;
}